.App {
  text-align: center;
  margin: 15px auto;
  padding: 15px;
  border: 1px solid black;
  border-radius: 10px;
  width: 500px;
}
.column1 {
  width: 150px;
}

.left {
  text-align: left;
}

.content {
  white-space: pre-line;
}

.break {
  white-space: pre-line;
}

.mb-10 {
  margin-bottom: 10px;
}

.bottom {
  vertical-align: bottom;
}

.mt-10 {
  margin-top: 10px;
}

.btn {
  background-color: transparent;
  border-radius: 20px;
  margin-top: 15px;
}
